<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fiveis.andcrowd.repository.DynamicAndMemberRepository">

    <insert id="save" parameterType="com.fiveis.andcrowd.dto.DynamicAndMemberDTO$Update">
        INSERT INTO and_member_#{andId} (
            and_id, user_id, is_deleted
        )
        VALUES (
                   #{andId}, #{userId}, #{isDeleted}
               )
    </insert>

    <select id="findByAndMemberId" parameterType="int" resultType="com.fiveis.andcrowd.dto.DynamicAndMemberDTO$FindByAndMemberId">
        SELECT
            member_id AS MemberId,
            and_id AS andId,
            user_id AS userId,
            is_deleted AS isDeleted
        FROM and_member_#{andId} WHERE member_id = #{memberId}
    </select>

    <select id="findAll" resultType="com.fiveis.andcrowd.dto.DynamicAndMemberDTO$FindByAndMemberId">
        SELECT * FROM and_member_#{andId}
    </select>

    <delete id="deleteById" parameterType="int">
        UPDATE
            and_member_#{andId}
        SET
            is_deleted = true
        WHERE
            member_id = #{memberId}
     </delete>

    <insert id="createAndMemberTable">
        CREATE TABLE and_member_1111 (
        member_id INT AUTO_INCREMENT PRIMARY KEY,
        and_id INT NOT NULL,
        user_id INT NOT NULL,
        is_deleted BOOL DEFAULT false
        );
    </insert>

    <update id="dropAndMemberTable">
        DROP TABLE and_member_1111;
    </update>

    <insert id="insertTestData">
        INSERT INTO and_member_1111 (and_id, user_id)
        VALUES
            (1111, 1),
            (1111, 2),
            (1111, 3);
    </insert>


</mapper>
