<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fiveis.andcrowd.repository.user.DynamicUserFollowRepository">
    <update id="createDynamicUserFollowTable">
        CREATE
        TABLE IF NOT EXISTS user_follow_${userEmail}(
            u_follow_id INT AUTO_INCREMENT PRIMARY KEY,
            user_id INT NOT NULL
        )
    </update>

    <select id="findAll" resultType="com.fiveis.andcrowd.dto.user.DynamicUserFollowDTO$Find">
        SELECT
            u_follow_id as uFollowId,
            user_id as userId
        FROM
            user_follow_${userEmail}
    </select>

    <select id="findById" resultType="com.fiveis.andcrowd.dto.user.DynamicUserFollowDTO$Find">
        SELECT
            u_follow_id as uFollowId,
            user_id as userId
        FROM
            user_follow_${userEmail}
        WHERE
            u_follow_id = #{uFollowId}
    </select>

    <select id="findByUserId" resultType="com.fiveis.andcrowd.dto.user.DynamicUserFollowDTO$Find">
        SELECT
            u_follow_id as uFollowId,
            user_id as userId
        FROM
            user_follow_${userEmail}
        WHERE
            user_id = #{userId}
    </select>

    <insert id="save">
        INSERT IGNORE
        INTO
            user_follow_${userEmail}
            (u_follow_id, user_id)
        VALUES
            (#{dynamicUserFollow.uFollowId}, #{dynamicUserFollow.userId})
    </insert>

    <delete id="deleteById">
        DELETE
        FROM
            user_follow_${userEmail}
        WHERE
            u_follow_id = #{uFollowId}
    </delete>

    <delete id="deleteByUserId">
        DELETE
        FROM
            user_follow_${userEmail}
        WHERE
            user_id = #{userId}
    </delete>

    <update id="deleteTableByUserEmail">
        DROP TABLE IF EXISTS user_follow_${userEmail}
    </update>
</mapper>